<html>
  <head>
    <title>Attacks</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
        function showform(dowhat) {
          /*
          * four DIVS: browse, insert, update, delete
          * this function sets one visible the others not
          */
          if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
          }
          else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
          }
          else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
          }
          else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
          }
          else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
          }
        }
        function newAttack() { showform('insert'); }
        function updateAttack(aid, aName) {
          // preset form data
          document.getElementById('update-attackID').value = aid;
          document.getElementById('update-attackID-display').innerHTML = aid;
          document.getElementById('update-attack-name').value = aName;
          showform('update');
        }
        function deleteAttack(aid, aName) {
          document.getElementById('delete-attackID').value = aid;
          document.getElementById('delete-attackID-display').innerHTML = aid;
          document.getElementById('delete-attackName-display').innerHTML = aName;
          showform ('delete');
        }
        function browseAttacks() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
  </head>

  <body onload="browseAttacks()">


  <!-- body -->
  <div id="browse">
  <p><a href="#" onClick="showAll()">Display all forms</a> </p>
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th><button onClick="newAttack()">+ New</button></th>
        <th></th>
        <th>id</th>
        <th>Attack</th>
        <th>Type</th>
        <th>Power</th>
        <th>Accuracy</th>
        <th>PP</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr data-value="{this.attackID}">
        <td><button onClick="updateAttack({{this.attackID}}, '{{this.attackName}}')">Edit</button></td>
        <td><button onClick="deleteAttack({{this.attackID}}, '{{this.attackName}}')">Delete</button></td>
        <td align="right">{{this.attackID}}</td>
        <td>{{this.attackName}}</td>
        <td>{{this.typeName}}</td>
        <td>{{this.power}}</td>
        <td>{{this.accuracy}}</td>
        <td>{{this.PP}}</td>
      </tr>
      {{/each}}
    </tbody>
    
  </table>
  <p>&nbsp;</p>
  </div><!-- browse -->

  <div id="insert">
      <form method="POST" id="addAttack" action="/attacks-add">
          <legend><strong>Add Attack</strong></legend>
            <fieldset class="fields">
              <label> Attack Name: </label> <input type="text" name="input-name">
              <label> Type: </label> 
                <select name="input-type">
                  <option value=0>Select a type</option>
                  {{#each types}}
                  <option value="{{this.typeID}}">{{this.typeName}}</option>
                  {{/each}}
                </select>
              <label> Power: </label> <input type="number" name="input-power">
              <label> Accuracy: </label> <input type="number" name="input-accuracy">
              <label> PP: </label> <input type="number" name="input-PP">
            </fieldset>
            <input class="btn" type="submit" id="addAttack" value="Add Attack">
            <input class="btn" type="button" value="Cancel" onClick="browseAttacks()">
    </form> 
  </div><!-- insert -->

  <p>&nbsp;</p>
  <div id="update">
      <form method="POST" id="UpdateAttack">
          <legend><strong>Update Attack</strong></legend>
          <fieldset class="fields">
              <label> Attack ID: </label> <label id="update-attackID-display"></label> <br> <br>
              <input type="hidden" name="id" id="update-attackID">
              <label> Attack Name: </label><input type="text" name="name" id="update-attack-name">
              <label> Type: </label>
                <select name="input-type" value="Select a type">
                  <option value=0>Select a type</option>
                  {{#each types}}
                  <option value="{{this.typeID}}">{{this.typeName}}</option>
                  {{/each}}
                </select>
              <label> Power: </label> <input type="number" name="power">
              <label> Accuracy: </label> <input type="number" name="accuracy">
              <label> PP: </label> <input type="number" name="PP">
          </fieldset>
            <input class="btn" type="submit" id="UpdateSaveAttack" value="Save Changes">
            <input class="btn" type="button" value="Cancel" onClick="browseAttacks()">
    </form> 
  </div><!-- update -->

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deleteAttack" action="/attacks-delete">
        <legend><strong>Delete Attack</strong></legend>
            <fieldset class="fields">
              <p>Are you sure you wish to delete the following?</p>
              <input type="hidden" name="attackID" id="delete-attackID">
              <label><strong>ID:</strong></label> <span id="delete-attackID-display"></span>
              <br>
              <label> <strong>Name:</strong> </label> <span id="delete-attackName-display"></span>
            </fieldset>
          <input class="btn" type="submit" id="DeleteAttack" value="Delete Attack">
          <input class="btn" type="button" value="Cancel" onClick="browseAttacks()">
    </form> 
  </div><!-- delete -->

</html>