<html>
  {{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}
  <head>
  <title>Pokemon</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script language="JavaScript">
  
      function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insert').style.display = 'block';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insert').style.display = 'none';
          document.getElementById('update').style.display = 'block';
          document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'delete'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insert').style.display = 'none';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'block';
        }
        else if (dowhat == 'all'){
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insert').style.display = 'block';
          document.getElementById('update').style.display = 'block';
          document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insert').style.display = 'none';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'none';
        }
      }
      function newPokemon() { showform('insert'); }
      function updatePokemon(pName) {
        document.getElementById('update-input-name').value = pName;
        showform('update');
      }
      function deletePokemon(pid, pName) {
        document.getElementById('delete-pokemonID').value = pid;
        document.getElementById('delete-pokemonID-display').innerHTML = pid;
        document.getElementById('delete-pokemonName-display').innerHTML = pName;
        showform('delete')
      }
      function browsePokemon() { showform ('browse'); }
      function showAll() { showform ('all'); }
  </script>
  </head>

<body onload="browsePokemon()">


<!-- body -->
<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5" id="pokemon-table">
  <thead>
    <tr>
      <th><button onClick="newPokemon()">+ New</button></th>
      <th></th>
      <th>id</th>
      <th>Name</th>
      <th>Type 1</th>
      <th>Type 2</th>
      <th>Generation</th>
      <th>preEvolution</th>
      <th>postEvolution</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr data-value="{this.pokemonID}">
      <td><button onClick="updatePokemon('{{this.pokemonName}}')">Edit</button></td>
      <td><button onClick="deletePokemon({{this.pokemonID}}, '{{this.pokemonName}}')">Delete</button></td>
      <td align="right">{{this.pokemonID}}</td>
      <td>{{this.pokemonName}}</td>
      <td>{{this.typeName1}}</td>
      <td>{{this.typeName2}}</td>
      <td align="center">{{this.genID}}</td>
      <td>{{this.preEvoName}}</td>
      <td>{{this.postEvoName}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{!-- <script src="./js/delete_pokemon.js"></script> --}}
<p>&nbsp;</p>

</div><!-- browse -->

<div id="insert">
  <p>&nbsp;</p>
  <form method="POST" id="add-pokemon" action="pokemon-add">
      <legend><strong>Add Pokemon</strong></legend>
        <fieldset class="fields">
          <label> Name: </label> <input type="text" name="input-name">
          <label> Type 1: </label>
            <select name="input-type1" id="input-type1">
              <option value=0>Select a type</option>
              {{#each types}}
              <option value="{{this.typeID}}">{{this.typeName}}</option>
              {{/each}}
            </select>
          <label> Type 2: </label>
            <select name="input-type2" id="input-type2">
              <option value="0">&nbsp;</option>
              {{#each types}}
              <option value="{{this.typeID}}">{{this.typeName}}</option>
              {{/each}}
            </select>
          <label> Generation: </label> <input type="number" name="input-gen" id="input-gen">
          <label> Pre-Evolution: </label> <input type="text" name="input-preEvolution" id="input-preEvolution">
          <label> Post-Evolution: </label> <input type="text" name="input-postEvolution" id="input-postEvolution">
        </fieldset>
        <input class="btn" type="submit" id="addPokemon" value="Add Pokemon">
        <input class="btn" type="button" value="Cancel" onClick="browsePokemon()">
	</form> 
</div><!-- insert -->


<div id="update">
  <p>&nbsp;</p>
    <form method="POST" id="pokemon-update" action="pokemon-update">
        <legend><strong>Update Pokemon by Name</strong></legend>
        <fieldset class="fields">
          <label> Name: </label> <input type="text" name="input-name" id="update-input-name">
          <label> Type 1: </label>
            <select name="input-type1">
              <option value=0>Select a type</option>
              {{#each types}}
              <option value="{{this.typeID}}">{{this.typeName}}</option>
              {{/each}}
            </select>
          <label> Type 2: </label>
            <select name="input-type2">
              <option value="0">&nbsp;</option>
              {{#each types}}
              <option value="{{this.typeID}}">{{this.typeName}}</option>
              {{/each}}
            </select>
          <label> Generation: </label> <input type="number" name="input-gen">
          <label> Pre-Evolution: </label> <input type="text" name="input-preEvolution">
          <label> Post-Evolution: </label> <input type="text" name="input-postEvolution">
        </fieldset>
        <input class="btn" type="submit" id="UpdateSavePokemon" value="Save Changes">
        <input class="btn" type="button" value="Cancel" onClick="browsePokemon()">
	</form> 
</div><!-- update -->

 <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deletePokemon" action="/pokemon-delete">
        <legend><strong>Delete Pokemon</strong></legend>
            <fieldset class="fields">
              <p>Are you sure you wish to delete the following?</p>
              <input type="hidden" name="pokemonID" id="delete-pokemonID">
              <label><strong>ID:</strong></label> <span id="delete-pokemonID-display"></span>
              <br>
              <label> <strong>Name:</strong> </label> <span id="delete-pokemonName-display"></span>
            </fieldset>
          <input class="btn" type="submit" id="DeletePokemon" value="Delete Pokemon">
          <input class="btn" type="button" value="Cancel" onClick="browsePokemon()">
    </form> 
  </div><!-- delete -->

</body>
</html>